<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="/assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/component/general.css">
  <link rel="stylesheet" href="/assets/css/page/evclass.css">
  <link rel="stylesheet" href="/assets/css/page/classConnect.css">
  <link rel="stylesheet" href="/assets/css/component/slideshow.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
  <link rel="stylesheet" href="/assets/css/lib/emojionearea.min.css">
  <link rel="stylesheet" href="/assets/css/lib/faceMocion.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/assets/js/general.js"></script>
  <script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <U>
            <li class="nav-item active">
              <a class="nav-link" href="/class">Classes</a>
            </li>
          </U>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
        </ul>
          <%- include('tiles/sideOptions'); %>
          </div>
    </div>
  </nav>
    <script>
        var classname = '<%=classname%>';
    </script>
     <% if(errorMsg){%>
           <script>
                $(document).ready(()=>{
                  showError(<%-JSON.stringify(errorMsg)%>);
                });
              </script>
          <%}%>

  <div class="main-content min-height">
          <div class="container">
                    <div class="container">
                        <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img style="float:left;" onerror="imgError('class-img');" id="class-img" class='img-fluid my-thumbnail-2 float-left' src="<%=thumbnail%>" title="<%=classname%>" alt='Default image'>
                                            </div>
                                              <div class="col-md-6">
                                                <span>Class: <%=classname%></span>
                                              </div>
                                        </div>
                                    </div>
                                <div class="col-7">
                                    <ul class="list-inline">  
                                        <li class="list-inline-item"><a href="/class/<%=classname%>">Cards</a></li>
                                        <li class="list-inline-item"><a href="#"><u>Connect</u></a></li>
                                    </ul>
                                </div>
                                <div class="col-2">
                                    <a href='/classSettings?q=<%=classname%>' class='btn btn-warning class-btn'>Settings</a>
                                </div>
                         </div>
                    </div>
            <div class="row">
                <div class="col">
                    <form  id="rendered-form">
                        <div class="fb-textarea form-group">                                                                                              
                            <textarea style="float: left;" type="textarea" placeholder="Share something awesome!" class="form-control emoji-wrap" rows="6" id="textarea-1501483512653" required="required"></textarea>
                        </div>
                        <div class="fb-button form-group field-button-1501483602997">
                            <button onClick="publish();" type="button" class="btn btn-success" name="button-1501483602997"  id="button-1501483602997">
                              Publish
                            </button>
                        </div>
                    </form>
                </div>
            </div>
              <div id="posts">
              </div>
             

            

            <%- include('tiles/modalActivity'); %>

           

          </div> <!-- end container-->
    
  </div>  <!-- end main-content-->
        
  <%- include('tiles/footer'); %>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="/assets/js/formatDate.js"></script>
    <script src="/assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="/assets/js/lib/articulate.min.js"></script>
    <script src="/assets/js/capabilities/activity.js"></script>
    <script src="/assets/js/classConnect.js"></script>
    <script type="text/javascript" src="/assets/js/lib/emojionearea.min.js"></script>
    <script src="/assets/js/lib/jquery.letterpic.min.js"></script>
    <script src="/assets/js/lib/faceMocion.js"></script>
  </body>

</html>