<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/class.css">
  <link rel="stylesheet" href="assets/css/page/newClass.css">
  <link rel="stylesheet" href="assets/css/page/classSettings.css">
  <!-- Hotjar Tracking Code for www.flashcard-x.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:571531,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <U>
            <li class="nav-item active">
              <a class="nav-link" href="/class">Classes</a>
            </li>
          </U>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
        </ul>
         <%- include('tiles/sideOptions'); %>
      
      </div>
    </div>
  </nav>
            <script>
            var classname = '<%=classname%>';
            var userId = '<%=userId%>';
          </script>
  <div class="main-content min-height">
    <div class="container">
     
            <div class="row class-group">
                <h3 class="col"> Class status:</h3>
                <div class='col'>
                    <span>Name: <a href="/class/<%=classname%>"><%=classname%></a></span>
                </div>
                <div class='col'>
                    <span>
                    <button style="text-align:line;" type="button" data-toggle="tooltip" data-placement="right"
                            title="The owner is the only person that is allowed to delete users from the class and he can even delete the whole class" 
                            class="fa fa-info" aria-hidden="true">
                    </button>
                          Owner/Admin: <span id="st-owner"></span>
                    </span>
                </div>
                <div class='col'>
                    <span>Cards: <span id="st-cards"></span>
                    </span>
                </div>
                <div class='col'>
                    <span>Integrants: <span id="st-users"></span>
                    </span>
                </div>
                <div class='col'>
                    <span>Type: <span id="st-type"></span>
                    </span>
                </div>
            </div>
        
        <div class="row class-group">
               <h3>
                  <button style='font-size: 18px;' type="button" data-toggle="tooltip" data-placement="right"
                            title="You need to enter the email of the people you want to add. They must have an account on FlashCardX. If they Don't know which email their account is linked to they can see it on the Settings page." 
                            class="fa fa-info" aria-hidden="true">
                </button>
              Add classmate:
             </h3>
            <div class="col form-horizontal center">
                    <div class="form-group" id="classname-group">
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <input required name="name" type="email" required="true" class="form-control" id="email" placeholder="User's Email!">
                            </div>
                            <div class="col">
                                <button id="add-button" type="button" role="button" onClick="addPeople();" class="btn btn-success class-btn">Add</button>        
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row class-group">
          <div class="col">
              <h3>People in the class:</h3>
              <table class="table table-responsive" style="overflow:auto;">
                        <tbody id="add-people">
                        </tbody>
                </table>
                  </br>
            </div>
        </div>
    
        <div class="row class-group">
                <div class="col">
                    <h3>Profile image:</h3>
                </div>
                <div class="col" id="preview-img-container">
                     <img onerror="imgError('preview-img');" id="preview-img" class='img-fluid my-thumbnail float-left letterpic' title="<%=classname%>" alt='Default image'>
                </div>
                  <div class="col" id="img-buttons" >
                        <button onclick="deleteImg();" type="button" class="btn btn-warning class-btn margin5">Remove image</button>
                        <form enctype="multipart/form-data" id="form-update-img">
                            <div style="height:0px;overflow:hidden"> 
                                  <input accept="image/*" type="file" onchange="readURL(this);" id="fileInput" name="fileInput" ></input>
                            </div>
                        <button type="button" class="btn btn-info class-btn margin5" onclick="choseFile();">Upload image</button>   
                        </form> 
                  </div>
                  <div class="col" style="display:none;" id="confirm-buttons" >
                        <button type="button" onClick="cancelChangeImg();" class="btn btn-warning class-btn margin5">Cancel</button>
                        <button type="button" class="btn btn-info class-btn margin5" onclick="submitChangeImg();">Confirm</button>    
                  </div>
        
        </div>

         <div class="row class-group">
            <div class="col" id="last-button">
            </div>
        </div>
       
        <%- include('tiles/modalActivity'); %>

         <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div >
                                If you delete the class all its data will be deleted,
                                There is no turning back from this.
                                <b>All the cards that were duplicated to users collections will persist</b>                            </div>
                          </div>
                      </div>
                 </div>
                <div class="modal-footer">
                    <a href="/deleteClass/<%=classname%>" class="btn btn-danger" >I undestand the risks and want to continue</a>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>



    </div> <!-- end main-content-->
  </div><!--end container-->
  <%- include('tiles/footer'); %>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
   <script src="/assets/js/general.js"></script>
    <script src="/assets/js/formatDate.js"></script>
    <script src="/assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="/assets/js/capabilities/activity.js"></script>
    <script src="/assets/js/lib/jquery.letterpic.min.js"></script>
    <script src="/assets/js/classSettings.js"></script>
    
</body>

</html>