<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/homeL.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css"> 
  <link rel="stylesheet" href="assets/css/component/card.css">
  <link rel="stylesheet" href="assets/css/component/slideshow.css">
  <link rel="stylesheet" href="assets/css/page/createCard.css">
  <link rel="stylesheet" href="assets/css/page/evclass.css">
  <link rel="stylesheet" href="assets/css/component/image-picker.css">
  <link rel="stylesheet" href="assets/css/component/switchery.min.css">
  <link rel="stylesheet" href="assets/css/lib/jquery.auto-complete.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
  <title>FlashCardX</title>
<!-- Hotjar Tracking Code for www.flashcard-x.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:571531,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <U>
            <li class="nav-item active">
              <a class="nav-link" href="#">Create card</a>
            </li>
          </U>
          <li class="nav-item">
            <a class="nav-link" href="/class">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
        </ul>
       <%- include('tiles/sideOptions'); %>
       </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-12 col-12">
      <div class="create-wrapper">
        <% errors.forEach(err=>{%>
           <script>
                $(document).ready(()=>{
                      $.notify({
                            title: "Error,",
                            icon:"fa fa-exclamation-triangle",
                            message: <%-JSON.stringify(err)%>
                            },
                            {
                                type: 'danger'
                            }
                            , {
                              newest_on_top: true
                            }
                        );
                });
              </script>
          <%});%>
            <% if(success){%>
              <script>
                $(document).ready(()=>{
                      $.notify({
                            title: "Success,",
                            icon:"fa fa-thumbs-up",
                            message: <%- JSON.stringify(success)%>
                            },
                            {
                                type: 'success'
                            }
                            , {
                              newest_on_top: true
                            }
                        );
                });
              </script>
              <%};%>

                <form enctype="multipart/form-data" class="form-horizontal " action="#" method="post">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-10 ev-easyautocomplete">
                          <input name="name" type="text" required="true" class="form-control" id="title" placeholder="What is it?">
                      </div>
                      <div class="col-sm-2">
                          <div class="inline">
                              <span class="text-black">Autocomplete:</span>
                              <input type="checkbox" class="js-switch" checked />
                          </div>
                      </div>
                    </div>
                  </div> 
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-10">
                         <textarea rows="5" name="description" type="text" class="form-control" id="description" placeholder="A brief description of the word/expression"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <select name="category" class="form-control" id="category">
                              <option selected="selected" value="">No category</option>
                          </select>
                       </div>
                       <div class="col-lg-2 col-md-12 col-sm-12 ev-margin-top">
                          <button role="button" class="left-margin btn btn-warning " type="button" data-toggle="modal" data-target="#new-category-modal">Add new category</button>
                      </div>
                    </div>
                  </div>

                  <div class="picure-load">
                    <div id="custom-search-input">
                      <div class="row">
                        <div class="input-group col-lg-9 col-md-9 col-sm-12">
                          <input id="search-box" onkeydown="if (event.keyCode == 13) return false;" type="text" class="facemocion form-control input-lg"
                            placeholder="Search image" />
                          <span class="input-group-btn">
                                    <button id ="search-button" class="btn btn-success" role="button" type="button" onClick="search()">
                                        <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                    </button>
                                </span>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 ev-margin-top">
                            <button role="button" class="left-margin btn btn-success " type="button" onclick="chooseFile();">Upload image</button>
                        </div>
                      </div>
                      <div class="image-gallery">
                        <div id="gallery">
                        </div>
                      </div>
                      <div id="addButton">
                      </div>
                    </div>

                    <div  class="input-group col-sm-10 row">
                              <div style='border: 1px solid black;' class="col-md-offset-1">
                                    <div id="wrap-img1" class="img-wrap">
                                        <span style="display:none" id="close1" class="close" onClick="closeImg(1);">&times;</span>
                                        <img class="resize-img img-responsive" src="assets/img/no-image.png" />
                                        <input id="img1" type="hidden" name="img1" value=""> </input>
                                        <input id="height1" type="hidden" name="height1" value=""> </input>
                                        <input id="width1" type="hidden" name="width1" value=""> </input>
                                        <div style="height:0px;overflow:hidden">
                                            <input accept="image/*" type="file" onchange="readURL(this, 1);" id="fileInput1" name="fileInput1" ></input>
                                        </div>
                                  </div>
                                  <div id="wrap-img2" class="img-wrap">
                                        <span style="display:none" id="close2" class="close" onClick="closeImg(2);"> &times;</span>
                                        <img class="resize-img img-responsive" src="assets/img/no-image.png" />
                                        <input id="img2" type="hidden" name="img2" value=""> </input>
                                        <input id="height2" type="hidden" name="height2" value=""> </input>
                                        <input id="width2" type="hidden" name="width2" value=""> </input>
                                        <div style="height:0px;overflow:hidden">
                                            <input accept="image/*" type="file"  onchange="readURL(this, 2);" id="fileInput2" name="fileInput2" />
                                        </div>
                                  </div>
                                  

                                    <div id="wrap-img3" class="img-wrap">
                                        <span style="display:none" id="close3" class="close" onClick="closeImg(3);">&times;</span>
                                        <img class="resize-img img-responsive" src="assets/img/no-image.png" />
                                            <input id="img3" type="hidden" name="img3" value=""> </input>
                                        <input id="height3" type="hidden"  name="height3" value=""> </input>
                                        <input id="width3" type="hidden" name="width3" value=""> </input>
                                        <div style="height:0px;overflow:hidden">
                                            <input accept="image/*" type="file" id="fileInput3" onchange="readURL(this , 3);" name="fileInput3" />
                                        </div>
                                    </div>
                        </div>
                    </div>

                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button role="button" type="submit" class="btn btn-default btn-outline-success btn-gray">Create!</button>
                    </div>
                  </div>
                </form>
                

                <%- include('tiles/modalActivity'); %>

                <!-- Modal new category-->
                <div class="modal fade" id="new-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <input type="text" class="form-control" id="new-category" placeholder="Category's name">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onCLick="newCategory()" data-dismiss="modal" class="btn btn-primary">Add category</button>
                      </div>
                    </div>
                  </div>
                </div>
      </div>
    </div>
  </div>

  <%- include('tiles/footer'); %>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
    <script src="/assets/js/lib/switchery.min.js"></script>
    <script src="/assets/js/lib/jquery.auto-complete.min.js"></script>
    <script src="/assets/js/capabilities/suggest.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="/assets/js/capabilities/autocomplete.js"></script>
    <script src="/assets/js/general.js"></script>
    <script src="/assets/js/createCard.js"></script>
    <script src="/assets/js/lib/jquery.twbsPagination.min.js"></script>
    <script src="/assets/js/lib/image-picker.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="/assets/js/formatDate.js"></script>
    <script src="assets/js/capabilities/activity.js"></script>
</body>

</html>