
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/component/general.css">
<link rel="stylesheet" href="assets/css/component/card.css">
<link rel="stylesheet" href="assets/css/component/slideshow.css">
<link rel="stylesheet" href="assets/css/page/homeNL.css">
<link rel="stylesheet" href="assets/css/component/fbButton.css">

    <title>FlashCardX</title>
   
  </head>

  <body>


      <script type='text/javascript'>
          var cards = <%-JSON.stringify(cards)%>;
      </script>

  
   <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">FlashcardX</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0" method="POST">
          <input type="hidden" name="_csrf" value="<%=csrfTokenLogin%>"/>
          <input type="email" class="form-control mr-sm-2" name="email" type="text" placeholder="Email">
          <input class="form-control mr-sm-2" name="password"type="password" placeholder="Password">
          <button role="button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
        </form>
          <a role="button" class="btn btn-outline-success my-2 my-sm-0 btn-space-left" href="/signup"> Sign up </a>
          <button OnClick="location.href='/auth/facebook'" class="button loginBtn loginBtn--facebook">
             Continue with Facebook
            </button>
    </nav>
  <div class= "main-content">
      <% errors.forEach(err=>{%>
            <div class="alert alert-danger">
                <strong>Error!</strong> <%= err%>
            </div> 
        <%});%>
    <% if(successMsg) { %>
    <div class="alert alert-success">
      <strong>Success!</strong> <%= successMsg%>
  </div>  
 <%}%>


      <div class= "row">

          <div class="col-6" id="market-info">
              <h1>Learn new languages with beautiful images! </h1>
              <h3>Create a card takes 10 seconds, and you end with the most useful vocabulary list ever!</h3>
              <ul>
                  <li>Image search engines for creating cards super fast.</li>
                  <li>Listen the pronunciation of every word.</li>
                  <li>The system automatically completes your card's description with examples of the word.</li>
                  <li>Keep your collection ordered by categories. </li>
              </ul>

          </div>

          <div class="col" id="cards-container">
              <div class="card-deck" id="card-deck">
              </div>
              <!-- end card-deck-->
          </div>
          


      </div>
  </div>
  <!-- end container-->


    <%- include('tiles/footer'); %>

     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="assets/js/formatDate.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="assets/js/allCards.js"></script>
    <script src="assets/js/general.js"></script>
    <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
    <script src="assets/js/lib/articulate.min.js"></script>
  </body>
</html>
