<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/class.css">
  <link rel="stylesheet" href="assets/css/page/newClass.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <U>
            <li class="nav-item active">
              <a class="nav-link" href="/class">Classes</a>
            </li>
          </U>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
        </ul>
         <%- include('tiles/sideOptions'); %>
      </div>
    </div>
  </nav>
  <div class="main-content min-height">
    <div class="container">
      <% if(error){%>
           <script>
                $(document).ready(()=>{
                      $.notify({
                            title: "Error,",
                            icon:"fa fa-exclamation-triangle",
                            message: <%-JSON.stringify(error)%>
                            },
                            {
                                type: 'danger'
                            }
                            , {
                              newest_on_top: true
                            }
                        );
                });
              </script>
          <%}%>
     
        <h2> New class</h2>
        
        <div class="row ">
                <form class="form-horizontal center " action="#" method="post">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                  <div class="form-group" id="classname-group">
                    <div class="row">
                      <div class="col-12">
                        <input required name="name" type="text" required="true" class="form-control" id="title" placeholder="Class name">
                        <div class="form-control-feedback" id="classname-feedback"></div>
                        </div>
                    </div>
                  </div> 
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12">
                         <textarea required rows="5" name="description" type="text" class="form-control" id="description" placeholder="A description for the class"></textarea>
                      </div>
                    </div>
                  </div>
                

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button role="button" type="submit" class="btn btn-default btn-success btn-gray">Create!</button>
                    </div>
                  </div>
                </form>
        
        </div>
              <br/>
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-primary btn-circle">1</button>
                    <p>Create class</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">2</button>
                    <p>Add people</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">3</button>
                    <p>Learn foreign languages as never before</p>
                </div> 
            </div>
        </div>

       
       
        <%- include('tiles/modalActivity'); %>
    </div> <!-- end container-->
  </div><!--end container-->
  <%- include('tiles/footer'); %>
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
   <script src="assets/js/general.js"></script>
    <script src="assets/js/formatDate.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="assets/js/capabilities/activity.js"></script>
    <script src="assets/js/lib/jquery.letterpic.min.js"></script>
    <script src="assets/js/newClass1.js"></script>
    
</body>

</html>