
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/component/general.css">
    <link rel="stylesheet" href="/assets/css/page/homeNL.css">
    <link rel="stylesheet" href="/assets/css/page/signup.css">
       
    <title>FlashCardX</title>
   
  </head>

  <body>
     <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">FlashcardX</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Email">
          <input class="form-control mr-sm-2" type="text" placeholder="Password">
          <button role="button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
        </form>
       </div>
    </nav>
    <div class="container">
       <% if (!data.success) { %>
    <div id="errorMsg" class="alert alert-danger">
      <strong>Error!</strong> <%= data.msg%>
      <% if (data.errorCode === 1) { %>
          <button class="btn btn-outline-primary my-2 my-sm-0 btn-space-left" onClick="resendEmail()"> Resend verification email</button>
     <%}%> 
  </div>  
 <% }else if(data.success && data.msg) { %>
    <div class="alert alert-success">
      <strong>Success!</strong> <%= data.msg%>
  </div>  
 <%}%>
        <form class="form-horizontal" action= "/signup" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                <input name="email" type="email" required="true"class="form-control" id="email" placeholder="Your email">
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                <input name="name" type="text" class="form-control" id="name" placeholder="Your name(or how your friends call you)">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="sel1">Languaje for image search(needed for providing a better experience in the image search engine):</label>
                <div class="col-sm-10">
                 <select name="lang" class="form-control" id="sel1">
                   <% langs.forEach(function(value){ 
                     if(value.code==="en"){%>
                        <option  selected="selected"value="<%=value.code%>"><%=value.name%></option>
                     <%}else{%>
                        <option value="<%=value.code%>"><%=value.name%></option>
                  <% }});%>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10"> 
                <input minlength="4" required="true" type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd2">Verify Password:</label>
                <div class="col-sm-10"> 
                <input minlength="4" required="true" type="password" name="password2" class="form-control" id="pwd2" placeholder="Enter password again">
                </div>
            </div>
          
            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                <button role="button" type="submit" class="btn btn-default btn-outline-success btn-gray">Sign up!</button>
                </div>
            </div>
        </form>

    </div>

      <%- include('tiles/footer'); %>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="/assets/js/signup.js"></script>
  </body>
</html>
